langchain_huggingface
langchain-experimental
llama-cpp-python
unstructured
unstructured[pdf]

# for wikipedia as a tool
wikipedia
chromadb
gradio
seaborn

# for google-search as a tool
google-search-results
langchainhub
streamlit
accelerate
langchain_chroma
langchain_openai
datasets
tensorflow_datasets
tavily-python

groq
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
streamlit_pdf_viewer
langchain_groq